//
//  Config.xcconfig
//  InsanityRadio
//
//  Created by Dylan Maryk on 30/12/2015.
//  Copyright © 2015 Insanity Radio. All rights reserved.
//

#include "Keys.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) SOCIALIZE_CONSUMER_KEY=@\"$(SOCIALIZE_CONSUMER_KEY)\" SOCIALIZE_CONSUMER_SECRET=@\"$(SOCIALIZE_CONSUMER_SECRET)\" LASTFM_API_KEY=@\"$(LASTFM_API_KEY)\"